<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title></title>
  
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="home-container">
        <h1>¡Hola, {{ nombre }}!</h1>

        <div id="sensor1_gauge" class="gauge">Sensor 1: --</div>
        <div id="sensor2_gauge" class="gauge">Sensor 2: --</div>

        <canvas id="sensorChart" width="400" height="200"></canvas>

        <a href="{{ url_for('logout') }}" class="logout">Cerrar sesión</a>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>


	





